body{
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}
#image{
    width: 50%;
    height: 50%;
}
#img-div{
    text-align: center;
}
#secondDiv{
    text-align: center;
    vertical-align:middle;
}
